.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_center {
  height: 100%;
  width: 90vw;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.nav_links li {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.nav_link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1rem;
}

.nav_link:hover {
  color: var(--clr-primary-1);
  /* background: var(--clr-primary-8); */
  padding-left: 2.25rem;
}

.nav_icons {
  display: flex;
}

.nav_icon {
  display: flex;
  align-items: center;
  margin-right: 0.7rem;
  color: var(--clr-primary-5);
  font-size: 1.2rem;
  transition: var(--transition);
}

.nav_icon:hover {
  color: var(--clr-primary-8);
}
